/* Dark theme */

.closeBtn{
    background-color: #222;
    color: #fafafa;
}
.sidebarMenu{
    background-color: rgb(34, 34, 34);
    color: rgb(250, 250, 250);

}
input{
    background-color: rgb(84, 86, 87);
    color: rgb(250, 250, 250);   
}

.first, .menuItem:hover{
    background-color: rgba(240, 248, 255, 0.24);
    cursor: pointer;
}